{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row-fluid">

    <div>
        {% if current_user.is_authenticated %}
        <h1>这里是后台首页</h1>
        <p class="lead">
            尊敬的管理员，您现在可以管理数据库中的表单啦！
        </p>
        {% else %}
        <form method="POST" action="">
            {{ form.hidden_tag() if form.hidden_tag }}
            {% for f in form if f.type != 'CSRFTokenField' %}
            <div>
            {{ f.label }}
            {{ f }}
            {% if f.errors %}
            <ul>
                {% for e in f.errors %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
            {% endfor %}
        </form>

        {% endif %}
    </div>

    {% if session.admin %}
        <a class="btn btn-primary" href="/admin/logout"><i class="icon-arrow-left icon-white"></i> 退出登入</a>
    {% endif %}
    <a class="btn btn-primary" href="/"><i class="icon-arrow-left icon-white"></i> 去书店</a>

</div>
{% endblock body %}