{% extends "base.html" %}

{% block body %}

    <nav class="navbar navbar-default" role="navigation" style="background:#fff;border-color:#fff;">
	<div class="container-fluid">
	<div class="navbar-header">
		<h2 class="navbar-brand" style="color: cornflowerblue">购物车</h2>
	</div>
	</div>
    </nav>

<hr>
    <h3 style="text-align: center" style="color: cornflowerblue">收藏的书：</h3><hr>
        {% for book in likebooks %}

<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>


                <th><img  class="img-thumbnail"  style="width:250px;height:250px;" src="data:;base64,{{ str(base64.b64encode(book.image))[2:-1] }}"/></th>

                <th><div style="font-weight: normal;">
                    id：{{ book.id }}<br>
                    书名：《{{ book.bookname }}》<br>
                    标签：{{ book.tag }}<br>
                    价格：{{ book.price }}元<br>
                    销量：{{ book.sales }}<br><br>
                    描述：<br>
                    <textarea class="panel panel-default" class="form-control" style="resize: none" rows=5 cols=60 readonly>{{ book.detail }}</textarea>
                </div></th>

                <th>
                        <form action="{{ url_for('cart_dislike') }}" method=post >
                            <div class="form-group">
                        <input type=hidden name=book_id value={{ book.id }} readonly>
                        <input type=hidden name=seller_id value={{ book.seller_id}} readonly>
                        <button name=submit class="btn btn-default">移出</button>
                            </div>
                        </form><br>

                        <form action="{{ url_for('index_buy') }}" method=post>
                            <div class="form-group">
                        <input type=hidden name=book_id value={{ book.id }} readonly>
                        <input type=hidden name=seller_id value={{ book.seller_id }} readonly>
                        <button name=submit class="btn btn-default">购买</button>
                            </div>
                        </form><br>

                        <form action="{{ url_for('index_comment') }}" method=post>
                            <div class="form-group">
                        <input type=hidden name=book_id value={{ book.id }} readonly>
                        <input type=hidden name=seller_id value={{ book.seller_id }} readonly>
                        <button name=submit class="btn btn-default">评论</button>
                            </div>
                        </form><br>

                        <form action="{{ url_for('index_report') }}" method=post>
                            <div class="form-group">
                        <input type=hidden name=book_id value={{ book.id }} readonly>
                        <input type=hidden name=seller_id value={{ book.seller_id }} readonly>
                        <button name=submit class="btn btn-default">举报</button>
                            </div>
                        </form>
                 </th>

			</tr>
		</thead>
	</table>
</div>

        {% else %}
            <p>还没有收藏的书 >.<</p>
        {% endfor %}



<hr>
    <h3 style="text-align: center" style="color: cornflowerblue">已购买的书：</h3><hr>
        {% for book in boughtbooks %}

<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>


                <th><div  style="float: top">
                    <img  class="img-thumbnail"  style="width:250px;height:250px;" src="data:;base64,{{ str(base64.b64encode(book.image))[2:-1] }}"/>
                </div></th>

                <th><div style="font-weight: normal;float: top">
                    id：{{ book.id }}<br>
                    书名：《{{ book.bookname }}》<br>
                    标签：{{ book.tag }}<br>
                    价格：{{ book.price }}元<br>
                    销量：{{ book.sales }}<br><br>
                        <form action="{{ url_for('index_comment') }}" method=post>
                            <div class="form-group">
                        <input type=hidden name=book_id value={{ book.id }} readonly>
                        <input type=hidden name=seller_id value={{ book.seller_id }} readonly>
                        <button name=submit class="btn btn-default">评论</button>
                            </div>
                        </form>
                    </div></th>

                <th>
                    <div style="font-weight: normal;float: right">
                    描述：<br>
                    <textarea class="panel panel-default" class="form-control" style="resize: none" rows=3 cols=40 readonly>{{ book.detail }}</textarea>
                    <br>
                        下载：<br>
                    <textarea class="panel panel-default" class="form-control" style="resize: none" rows=5 cols=40 readonly>{{ book.file }}</textarea>
                    </div>
                 </th>

			</tr>
		</thead>
	</table>
</div>


        {% else %}
            <p>还没有买过的书 >.<</p>
        {% endfor %}

{% endblock %}