{% extends "base.html" %}

{% block body %}
    <h2>留言板</h2>

    <form action="{{ url_for('leave_message') }}" method=post class=add-entry>

    {% if form.errors %}
      <ul>
          {% for name, errors in form.errors.items() %}
              {% for error in errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          {% endfor %}
      </ul>
  {% endif %}

      <dl>
        <dt>{{ form.text.label }}:
        <dd><textarea rows=5 cols=40 name=text></textarea>
        <dd><button name=submit>留言</button>
      </dl>

    </form>

    <ul class=entries>
        {% for message in messages %}
            <li><h2>{{ message.username}}</h2>{{ message.text|safe }}</li>
        {% else %}
            <li><em>还没有人留言>.<</em><li>
        {% endfor %}
    </ul>

{% endblock %}