{% extends "base.html" %}

{% block body %}
        我在卖的书：</br>
        {% for book in books %}
            <div class="book" xmlns="http://www.w3.org/1999/html">
                <img width="30%" height="30%" src="data:image/jpg;base64,{{ str(base64.b64encode(book.image))[2:-1] }}"/>
                《{{ book.bookname }}》
                {{ book.price }}元</br>
                {{ book.detail }}


                <form action="{{ url_for('mysell_delete') }}" method=post>
                    <input type=hidden name=book_id value={{ book.id }} readonly>
                    <input type=hidden name=seller_id value={{ book.seller_id}} readonly>
                    {{ form.delete() }}
                </form>

                <form action="{{ url_for('mysell_edit') }}" method=post>
                    <input type=hidden name=book_id value={{ book.id }} readonly>
                    <input type=hidden name=seller_id value={{ book.seller_id}} readonly>
                    {{ form.edit() }}
                </form>

                <form action="{{ url_for('index_comment') }}" method=post>
                    <input type=hidden name=book_id value={{ book.id }} readonly>
                    <input type=hidden name=seller_id value={{ book.seller_id }} readonly>
                    {{ form.comment() }}
                </form>

                <hr>
            </div>
        {% else %}
            <li><em>还没有在卖的书>.<</em></li>
        {% endfor %}

{% endblock %}