{% extends "base.html" %}

{% block body %}

    <nav class="navbar navbar-default" role="navigation" style="background:#fff;border-color:#fff;">
	<div class="container-fluid">
	<div class="navbar-header">
		<h2 class="navbar-brand" style="color: cornflowerblue">我要卖书</h2>
	</div>
	</div>
    </nav>


        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form class="form-horizontal navbar-form navbar-left" action="{{ url_for('sell') }}" method=post enctype="multipart/form-data">

  {% if form.errors %}
      <ul>
          {% for name, errors in form.errors.items() %}
              {% for error in errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          {% endfor %}
      </ul>
  {% endif %}




                        <div class="input-group" width="5%" style="text-align: left">
                            书名：
                            <input type="text" class="form-control" name=bookname>
                        </div><br><br>

                        <div class="input-group" width="5%">
                            标签：
                            <input type="text" class="form-control" name=tag>
                        </div><br><br>

                        <div class="input-group" width="5%">
                            单价：
                            <input type="number" class="form-control" name=price>
                        </div><br><br>

                        <div class="input-group" width="5%">
                            封面：
                            <input type="file" name=image>
                        </div><br><br>

                        <div class="input-group" width="5%">
                            付款码：
                            <input type="file" name=qrcode>
                        </div><br><br>

                        <div class="input-group" width="5%">
                            描述：<br>
                            <textarea class="panel panel-default" class="form-control" style="resize: none" rows=5 cols=60 name=detail></textarea>
                        </div><br>

                        <div class="input-group" width="5%">
                            下载链接：<br>
                            <textarea class="panel panel-default" class="form-control" style="resize: none" rows=5 cols=60 name=file></textarea>
                        </div><br>

                        <div class="input-group" width="5%">
                            <input type=hidden name=state value="正在卖" readonly>
                        </div><br>

                        <div class="input-group">
                            <button name=submit class="btn btn-default">发布</button>
                        </div><br>

                    </form>


                </div>
            </div>
        </div>

{% endblock %}